ul{
    background-color: #FFB300;
}
ul ul {
    display: none;
}
a {
    text-decoration: none;
    color: #FF7043;
}
ul li {
    display: inline-block;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    list-style-type: none;
    padding: 10px;
}
.red {
    border-bottom: solid #FF7043;
    border-width: 5px;
}
